<main role="main">
  <section class="buttons text-center">
    <div class="container">
      <header class="text-left col-10 m-auto">
        <div class="title-page h4 mt-5 mb-4">Buttons</div>
        <div class="description-page mb-5">
          <p class="text-center mb-5"></p>
          <p>Use buttons to trigger actions and links. Buttons can contain a combination of a clear label and an icon while links are always text..</p>
        </div>
      </header>
      <div class="row w-100">
        <!-- Primary buttons -->
        <div class="primary-buttons border-bottom border-muted pb-4">
          <header class="col-10 description-primary-colors d-flex m-auto px-4">
            <span class="h5 mb-5">Primary Buttons</span>
          </header>
          <div class="col-10 d-flex m-auto px-4 buttons-group">
            <div class="row w-100 no-gutters">
              <div class="bd-example w-100">
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-secondary">Secondary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-light">Light</button>
                <button type="button" class="btn btn-link">Link</button>
              </div>
              <div class="mt-5 w-100 text-left">
                <p>You can use the same code and style of bootstrap to draw a <code>&lt;button&gt;</code> block</p>
                <p>The base styling to apply to the button are the same: </p>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-primary"</span><span class="cm-tag">&gt;</span>Primary<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-secondary"</span><span class="cm-tag">&gt;</span>Secondary<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-success"</span><span class="cm-tag">&gt;</span>Success<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-danger"</span><span class="cm-tag">&gt;</span>Danger<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-warning"</span><span class="cm-tag">&gt;</span>Warning<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-warning"</span><span class="cm-tag">&gt;</span>Info<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-warning"</span><span class="cm-tag">&gt;</span>Light<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-warning"</span><span class="cm-tag">&gt;</span>Link<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Outline buttons -->
        <div class="outline-buttons mt-5 pb-4 border-bottom border-muted">
          <header class="col-10 description-primary-colors d-flex m-auto px-4">
            <span class="h5 mb-5">Outline Buttons</span>
          </header>
          <div class="col-10 d-flex m-auto px-4 buttons-group">
            <div class="row w-100 no-gutters">
              <div class="bd-example w-100">
                <button type="button" class="btn btn-outline-primary">Primary</button>
                <button type="button" class="btn btn-outline-secondary">Secondary</button>
                <button type="button" class="btn btn-outline-success">Success</button>
                <button type="button" class="btn btn-outline-danger">Danger</button>
                <button type="button" class="btn btn-outline-warning">Warning</button>
                <button type="button" class="btn btn-outline-info">Info</button>
                <button type="button" class="btn btn-outline-light">Light</button>
                <button type="button" class="btn btn-outline-link">Link</button>
              </div>
              <div class="mt-5 w-100 text-left">
                <p>In need of a button, but not the hefty background colors they bring? Replace the default modifier classes with the <code><span class="cm-class">.btn-outline-* </span></code> ones to remove all background images and colors on any button</p>
                <!-- <p>The base styling to apply to the button are the same: </p> -->
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-outline-primary"</span><span class="cm-tag">&gt;</span>Primary<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-outline-secondary"</span><span class="cm-tag">&gt;</span>Secondary<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-outline-success"</span><span class="cm-tag">&gt;</span>Success<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-outline-danger"</span><span class="cm-tag">&gt;</span>Danger<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-outline-warning"</span><span class="cm-tag">&gt;</span>Warning<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-outline-warning"</span><span class="cm-tag">&gt;</span>Info<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-outline-warning"</span><span class="cm-tag">&gt;</span>Light<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-outline-warning"</span><span class="cm-tag">&gt;</span>Link<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sizes -->
        <div class="sizes-buttons mt-5 pb-4 border-bottom border-muted">
          <header class="col-10 description-primary-colors d-flex m-auto px-4">
            <span class="h5 mb-5">Sizes</span>
          </header>
          <div class="col-10 d-flex m-auto px-4 buttons-group">
            <div class="row w-100 no-gutters">
              <p>Fancy larger or smaller buttons? Add<code><span class="cm-class">.btn-lg </span> or </code><code><span class="cm-class">.btn-sm </span></code> ones to remove all background images and colors on any button</p>
              <div class="bd-example w-100">
                <button type="button" class="btn btn-lg btn-primary">Large Button</button>
                <button type="button" class="btn btn-lg btn-secondary">Large Button</button>
              </div>
              <div class="mt-5 w-100 text-left">
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-lg btn-primary"</span><span class="cm-tag">&gt;</span>Large Button<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-lg btn-secondary"</span><span class="cm-tag">&gt;</span>Large Button<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
              </div>
              <div class="bd-example w-100 mt-5">
                <button type="button" class="btn btn-sm btn-primary">Small Button</button>
                <button type="button" class="btn btn-sm btn-secondary">Small Button</button>
              </div>
              <div class="mt-5 w-100 text-left">
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-sm btn-primary"</span><span class="cm-tag">&gt;</span>Small Button<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-sm btn-secondary"</span><span class="cm-tag">&gt;</span>Small Button<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 d-flex m-auto px-4 buttons-group pt-5">
            <div class="row w-100 no-gutters">
              <p>Create block level buttons&#45;those that span the full width of a parent&#45;by adding <code><span class="cm-class">.btn-block</span></code></p>
              <div class="bd-example w-100">
                <button type="button" class="btn btn-block btn-primary">Block level Button</button>
                <button type="button" class="btn btn-block btn-secondary">Block level Button</button>
              </div>
              <div class="mt-5 w-100 text-left">
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-block btn-primary"</span><span class="cm-tag">&gt;</span>Block level Button<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
                <div class="w-100">
                  <code>
                    <span class="cm-tag">&lt;button</span>
                    <span class="cm-attribute">class</span>=<span class="cm-string">"btn btn-block btn-secondary"</span><span class="cm-tag">&gt;</span>Block level Button<span class="cm-tag">&lt;/button&gt;</span>
                  </code>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
