<main role="main">
  <section class="buttons text-center">
    <div class="container">
      <header class="text-left col-10 m-auto">
        <div class="title-page h4 mt-5 mb-4">Buttons</div>
        <div class="description-page mb-5">
          <p class="text-center mb-5"></p>
          <p>Use buttons to trigger actions and links. Buttons can contain a combination of a clear label and an icon while links are always text..</p>
        </div>
      </header>
    </div>
  </section>
</main>
