<main role="main">
  <section class="color text-center">
    <div class="container">
      <header class="text-left col-10 m-auto">
        <div class="title-page h4 mt-5 mb-4">Colors</div>
        <div class="description-page mb-5">
          <p class="text-center mb-5">
            <img src="img/pantone.svg">
          </p>
          <p>All the available colors in this Kit are used in Atlassian Kit and in Atlassian Guidelines.</p>
          <p>However all the colors used in Bootstrap 4 are still usable always following their documentation</p>
        </div>
      </header>
      <div class="row">
        <!-- Primary colors -->
        <header class="col-10 description-primary-colors d-flex m-auto px-4">
          <span class="h5 mb-5">Primary Palette</span>
        </header>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow border-0 color-swatch">
            <div class="color-swatch-header" style="background-color: #0052cc"></div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow border-0 color-swatch">
            <div class="color-swatch-header" style="background-color: #172B4D"></div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow border-0 color-swatch">
            <div class="color-swatch-header is-light" style="background-color: #FFFFFF"></div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <!-- Secondary colors -->
        <div class="">

        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow border-0 color-swatch">
            <div class="color-swatch-header" style="background-color: #FF5630"></div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow border-0 color-swatch">
            <div class="color-swatch-header" style="background-color: #FFAB00"></div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow border-0 color-swatch">
            <div class="color-swatch-header" style="background-color: #36B37E"></div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow border-0 color-swatch">
            <div class="color-swatch-header" style="background-color: #00B8D9"></div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow border-0 color-swatch">
            <div class="color-swatch-header" style="background-color: #6554C0"></div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <!-- Reds -->
        <header class="col-10 description-primary-colors mx-auto px-4 mt-5 text-left">
          <p class="h5 mb-4">Extended Palette</p>
          <p>The extended palette consists of all the useable tints and shades of each color in the palette. They are all helpfully numbered for easy reference. Usage of these colors varies depending on the touch point, but they come in handy for illustrations and components in product</p>
          <p class="h5 mt-4">Reds</p>
        </header>
        <table class="table red-palette color-table">
          <tbody>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #BF2600"></div>
                <span>R500 - Drangon's blood</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#BF2600</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>191, 38, 0</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>5, 9, 100, 9</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #DE350B"></div>
                <span>R400 - Red dirt</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#DE350B</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>222, 53, 11</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>7, 92, 100, 1</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #FF5630"></div>
                <span>R300 - Poppy surprise</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#FF5630</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>255, 86, 48</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>0, 80, 85, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #FF7452"></div>
                <span>R200 - Salmon sashimi</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#FF7452</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>255, 116, 82</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>0, 72, 70, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #FF8F73"></div>
                <span>R100 - Alexandria</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#FF8F73</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>255, 143, 115</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>0, 55, 53, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #FFBDAD"></div>
                <span>R75 - Bondi sunburn</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#FFBDAD</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>255, 189, 173</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>0, 38, 36, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch is-light" style="background-color: #FFEBE6"></div>
                <span>R50 - Rosie</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#FFEBE6</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>255, 235, 229</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>0, 21, 18, 0</span>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Yellows -->
        <header class="col-10 mx-auto px-4 mt-5 text-left">
          <p class="h5 mt-4">Yellows</p>
        </header>
        <table class="table yellow-palette color-table">
          <body>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #FF8B00"></div>
                <span>Y500 - Debrito</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#FF8B00</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>255, 139, 0</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>0, 60, 87, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #FF991F"></div>
                <span>Y400 - Cheezy blasters</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#FF991F</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>255, 153, 31</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>0, 51, 100, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #FFAB00"></div>
                <span>Y300 - Golden state</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#FFAB00</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>255, 171, 0</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>0, 32, 100, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #FFC400"></div>
                <span>Y200 - Pub mix</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#FFC400</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>255, 196, 0</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>0, 20, 90, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch is-light" style="background-color: #FFE380"></div>
                <span>Y100 - Cowbell</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#FFE380</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>255, 227, 128</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>0, 6, 53, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch is-light" style="background-color: #FFF0B3"></div>
                <span>Y75 - Dandelion whisper</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#FFF0B3</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>255, 240, 178</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>0, 4, 45, 1</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch is-light" style="background-color: #FFFAE6"></div>
                <span>Y50 - James blonde</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#FFFAE6</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>255, 250, 229</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>0, 4, 27, 0</span>
              </td>
            </tr>
          </body>
        </table>
        <!-- Greens -->
        <header class="col-10 mx-auto px-4 mt-5 text-left">
          <p class="h5 mt-4">Greens</p>
        </header>
        <table class="table green-palette color-table">
          <body>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #006644"></div>
                <span>G500 - Keen green</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#006644</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>0, 102, 68</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>95, 0, 65, 60</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #00875A"></div>
                <span>G400 - Slime</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#00875A</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>0, 135, 90</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>86, 14, 63, 20</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #36B37E"></div>
                <span>G300 - Our kellie</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#36B37E</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>54, 179, 126</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>84, 0, 59, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #57D9A3"></div>
                <span>G200 - Green tea</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#57D9A3</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>87, 217, 163</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>65, 0, 47, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #79F2C0"></div>
                <span>G100 - Cloverleaf</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#79F2C0</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>121, 242, 192</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>50, 0, 33, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #ABF5D1"></div>
                <span>G75 - Mintie</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#ABF5D1</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>171, 245, 209</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>35, 0, 20, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch is-light" style="background-color: #E3FCEF"></div>
                <span>G50 - The smell</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#E3FCEF</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>227, 252, 239</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>22, 0, 13, 0</span>
              </td>
            </tr>
          </body>
        </table>
          <!-- Teals -->
        <header class="col-10 mx-auto px-4 mt-5 text-left">
          <p class="h5 mt-4">Teals</p>
        </header>
        <table class="table green-palette color-table">
          <body>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #008DA6"></div>
                <span>T500 - Shabby chic</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#008DA6</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>0, 141, 166</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>96, 6, 10, 29</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #00A3BF"></div>
                <span>T400 - Prom dress</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#00A3BF</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>0, 163, 191</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>93, 2, 15, 17</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #00B8D9"></div>
                <span>T300 - Tamarama</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#00B8D9</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>0, 184, 217</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>84, 01, 16, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #00C7E5"></div>
                <span>T200 - Mermaid net</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#00C7E5</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>0, 199, 229</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>77, 0, 16, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #79E2F2"></div>
                <span>T100 - Hairy fairy</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#79E2F2</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>121, 226, 242</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>61, 0, 15, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch is-light" style="background-color: #B3F5FF"></div>
                <span>T75 - Arctic chill</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#B3F5FF</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>179, 245, 255</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>50, 0, 12, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch is-light" style="background-color: #E6FCFF"></div>
                <span>T50 - Gram's sofa</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#E6FCFF</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>230, 252, 255</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>35, 0, 9, 0</span>
              </td>
            </tr>
          </body>
        </table>
        <!-- Blues -->
        <header class="col-10 mx-auto px-4 mt-5 text-left">
          <p class="h5 mt-4">Blues</p>
        </header>
        <table class="table green-palette color-table">
          <body>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #0747A6"></div>
                <span>B500 - Chore coat</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#0747A6</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>7, 71, 166</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>100, 75, 0, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #0052CC"></div>
                <span>B400 - Pacific bridge</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#0052CC</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>0, 82, 204</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>100, 60, 0, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #0065FF"></div>
                <span>B300 - Sodium explosion</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#0065FF</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>0, 101, 255</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>100, 50, 0, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #2684FF"></div>
                <span>B200 - Coogee</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#2684FF</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>38, 132, 255</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>85, 35, 0, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #4C9AFF"></div>
                <span>B100 - Arvo breeze</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#4C9AFF</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>76, 154, 255</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>70, 30, 0, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #B3D4FF"></div>
                <span>B75 - Schwag</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#B3D4FF</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>178, 212, 255</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>45, 15, 0, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch is-light" style="background-color: #DEEBFF"></div>
                <span>B50 - Pixie dust</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#DEEBFF</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>222, 235, 255</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>18, 5, 0, 0</span>
              </td>
            </tr>
          </body>
        </table>
        <!-- Purples -->
        <header class="col-10 mx-auto px-4 mt-5 text-left">
          <p class="h5 mt-4">Purples</p>
        </header>
        <table class="table green-palette color-table">
          <body>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #403294"></div>
                <span>P500 - Prince</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#403294</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>64, 50, 148</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>93, 96, 1, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #5243AA"></div>
                <span>P400 - Snozzberry</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#5243AA</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>82, 67, 170</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>81, 83, 0, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #6554C0"></div>
                <span>P300 - Da' juice</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#6554C0</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>101, 84, 192</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>73, 73, 0, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #8777D9"></div>
                <span>P200 - Pastelli</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#8777D9</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>135, 119, 217</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>57, 56, 0, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #998DD9"></div>
                <span>P100 - Herky jerky</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#998DD9</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>153, 141, 217</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>45, 45, 0, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #C0B6F2"></div>
                <span>P75 - Phantom mist</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#C0B6F2</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>192, 182, 242</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>30, 27, 0, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch is-light" style="background-color: #EAE6FF"></div>
                <span>P50 - Lavender secret</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#EAE6FF</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>234, 230, 255</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>25, 9, 0, 0</span>
              </td>
            </tr>
          </body>
        </table>
        <!-- Neutral -->
        <header class="col-10 mx-auto px-4 mt-5 text-left">
          <p class="h5 mt-4">Neutrals</p>
        </header>
        <table class="table green-palette color-table">
          <body>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #091E42"></div>
                <span>N900 - Slate</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#091E42</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>9, 30, 66</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>100, 88, 34, 55</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #172B4D"></div>
                <span>N800 - Squid ink</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#172B4D</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>23, 43, 77</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>98, 85, 42, 40</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #253858"></div>
                <span>N700 - Snorlax</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#253858</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>37, 56, 88</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>89, 76, 31, 37</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #344563"></div>
                <span>N600 - Pet rock</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#344563</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>52, 69, 99</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>86, 72, 38, 25</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #42526E"></div>
                <span>N500 - McFanning</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#42526E</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>66, 82, 110</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>75, 62, 30, 25</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #505F79"></div>
                <span>N400 - Concrete jungle</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#505F79</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>80, 95, 121</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>74, 60, 35, 14</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #5E6C84"></div>
                <span>N300 - Clooney</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#5E6C84</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>94, 108, 132</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>61, 49, 26, 14</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #6B778C"></div>
                <span>N200 - Bling bling</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#6B778C</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>108, 121, 143</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>62, 48, 31, 5</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #7A869A"></div>
                <span>N100 - Humboldt fog</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#7A869A</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>122, 134, 154</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>56, 42, 29, 2</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #8993A4"></div>
                <span>N90 - Meredith</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#8993A4</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>137, 147, 164</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>50, 37, 27, 1</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #97A0AF"></div>
                <span>N80 - Spooky ghost</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#97A0AF</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>151, 160, 175</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>37, 28, 17, 4</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #A5ADBA"></div>
                <span>N70 - Blanche</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#A5ADBA</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>165, 173, 186</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>36, 26, 19, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #B3BAC5"></div>
                <span>N60 - Sentinel</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#B3BAC5</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>179, 186, 197</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>30, 21, 15, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch" style="background-color: #C1C7D0"></div>
                <span>N50 - Karl</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#C1C7D0</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>193, 199, 208</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>21, 15, 10, 12</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch is-light" style="background-color: #DFE1E6"></div>
                <span>N40 - Jolly fun time</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#DFE1E6</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>223, 225, 229</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>11, 8, 6, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch is-light" style="background-color: #EBECF0"></div>
                <span>N30 - Northeast snow</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#EBECF0</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>235, 236, 240</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>6, 5, 3, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch is-light" style="background-color: #F4F5F7"></div>
                <span>N20 - Gram's hair</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#F4F5F7</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>244, 245, 247</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>3, 2, 1, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch is-light" style="background-color: #FAFBFC"></div>
                <span>N10 - Wash me</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#FAFBFC</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>250, 251, 252</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>1, 1, 0, 0</span>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <div class="swatch is-light" style="background-color: #FFFFFF"></div>
                <span>N0 - Doctor</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">HEX</span>
                <span>#FFFFFF</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">RGB</span>
                <span>255, 255, 255</span>
              </td>
              <td class="align-items-center">
                <span class="lozenge">CMYK</span>
                <span>0, 0, 0, 0</span>
              </td>
            </tr>
          </body>
        </table>
      </div>
    </div>
  </section>
