<main role="main">
      <section class="jumbotron text-white text-center bg-transparent">
        <div class="container">
          <h1 class="jumbotron-heading">Bootstrap Atlaskit</h1>
          <p class="h4 font-weight-light mt-4">An atlaskit-like UI Kit made by using Bootstrap 4, built according</p>
          <p class="h4 font-weight-light">to the Atlassian Design Guidelines.</p>
        </div>
      </section>
        <div class="Cards__CardsWrapper-hyCVv LSTdi m-auto row w-100">
          <div class="Cards__CardColumn-fjAUfL kRwBgP col-12 col-md-4">
            <a class="Cards__InternalCard-dDKrqs faoYXJ" index="0" href="/docs/getting-started">
              <div style="padding: 16px 24px; margin-bottom: auto;">
                <div class="Cards__TitleRow-PjOVu dfsWpD">
                  <span class="Cards__CardIcon-jkhNrR jyqqOw" color="#DE350B">
                    <span class="sc-bwzfXH jzMWye" aria-label="Get started with Atlaskit!">
                      <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                        <g fill-rule="evenodd">
                          <rect fill="currentColor" x="4" y="4" width="16" height="16" rx="2"></rect>
                          <rect fill="inherit" x="7" y="8" width="10" height="2" rx="1"></rect>
                          <rect fill="inherit" x="7" y="11" width="10" height="2" rx="1"></rect>
                          <rect fill="inherit" x="7" y="14" width="5" height="2" rx="1"></rect>
                        </g>
                      </svg>
                    </span>
                  </span>
                  Get started with Atlaskit!
                </div>
                <p>Everything you need to get up and running.</p>
              </div>
              <img alt="" src="/0bae81b1bba10e0256dff2f46c77af82.png" style="margin: 0px auto 10px; height: 200px; display: block;">
            </a>
            <a class="Cards__InternalCard-dDKrqs bzyJdo" index="1" href="/docs/guides/contributing">
              <div style="padding: 16px 24px; margin-bottom: auto;">
                <div class="Cards__TitleRow-PjOVu dfsWpD">
                  <span class="Cards__CardIcon-jkhNrR jyqqOw" color="#DE350B">
                    <span class="sc-bwzfXH jzMWye" aria-label="Make it better">
                      <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                        <g fill-rule="evenodd">
                          <rect fill="currentColor" x="4" y="4" width="16" height="16" rx="2"></rect>
                          <rect fill="inherit" x="7" y="8" width="10" height="2" rx="1"></rect>
                          <rect fill="inherit" x="7" y="11" width="10" height="2" rx="1"></rect>
                          <rect fill="inherit" x="7" y="14" width="5" height="2" rx="1"></rect>
                        </g>
                      </svg>
                    </span>
                  </span>Make it better
                </div>
                <p>Learn how to contribute code, report issues, and review our code of conduct.</p>
              </div>
            </a>
          </div>
          <div class="Cards__CardColumn-fjAUfL kRwBgP col-12 col-md-4">
            <a class="Cards__InternalCard-dDKrqs faoYXJ" index="0" href="/docs/getting-started">
              <div style="padding: 16px 24px; margin-bottom: auto;">
                <div class="Cards__TitleRow-PjOVu dfsWpD">
                  <span class="Cards__CardIcon-jkhNrR jyqqOw" color="#DE350B">
                    <span class="sc-bwzfXH jzMWye" aria-label="Get started with Atlaskit!">
                      <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                        <g fill-rule="evenodd">
                          <rect fill="currentColor" x="4" y="4" width="16" height="16" rx="2"></rect>
                          <rect fill="inherit" x="7" y="8" width="10" height="2" rx="1"></rect>
                          <rect fill="inherit" x="7" y="11" width="10" height="2" rx="1"></rect>
                          <rect fill="inherit" x="7" y="14" width="5" height="2" rx="1"></rect>
                        </g>
                      </svg>
                    </span>
                  </span>
                  Get started with Atlaskit!
                </div>
                <p>Everything you need to get up and running.</p>
              </div>
              <img alt="" src="/0bae81b1bba10e0256dff2f46c77af82.png" style="margin: 0px auto 10px; height: 200px; display: block;">
            </a>
            <a class="Cards__InternalCard-dDKrqs bzyJdo" index="1" href="/docs/guides/contributing">
              <div style="padding: 16px 24px; margin-bottom: auto;">
                <div class="Cards__TitleRow-PjOVu dfsWpD">
                  <span class="Cards__CardIcon-jkhNrR jyqqOw" color="#DE350B">
                    <span class="sc-bwzfXH jzMWye" aria-label="Make it better">
                      <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                        <g fill-rule="evenodd">
                          <rect fill="currentColor" x="4" y="4" width="16" height="16" rx="2"></rect>
                          <rect fill="inherit" x="7" y="8" width="10" height="2" rx="1"></rect>
                          <rect fill="inherit" x="7" y="11" width="10" height="2" rx="1"></rect>
                          <rect fill="inherit" x="7" y="14" width="5" height="2" rx="1"></rect>
                        </g>
                      </svg>
                    </span>
                  </span>Make it better
                </div>
                <p>Learn how to contribute code, report issues, and review our code of conduct.</p>
              </div>
            </a>
          </div>
          <div class="Cards__CardColumn-fjAUfL kRwBgP col-12 col-md-4">
            <a class="Cards__InternalCard-dDKrqs faoYXJ" index="0" href="/docs/getting-started">
              <div style="padding: 16px 24px; margin-bottom: auto;">
                <div class="Cards__TitleRow-PjOVu dfsWpD">
                  <span class="Cards__CardIcon-jkhNrR jyqqOw" color="#DE350B">
                    <span class="sc-bwzfXH jzMWye" aria-label="Get started with Atlaskit!">
                      <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                        <g fill-rule="evenodd">
                          <rect fill="currentColor" x="4" y="4" width="16" height="16" rx="2"></rect>
                          <rect fill="inherit" x="7" y="8" width="10" height="2" rx="1"></rect>
                          <rect fill="inherit" x="7" y="11" width="10" height="2" rx="1"></rect>
                          <rect fill="inherit" x="7" y="14" width="5" height="2" rx="1"></rect>
                        </g>
                      </svg>
                    </span>
                  </span>
                  Get started with Atlaskit!
                </div>
                <p>Everything you need to get up and running.</p>
              </div>
              <img alt="" src="/0bae81b1bba10e0256dff2f46c77af82.png" style="margin: 0px auto 10px; height: 200px; display: block;">
            </a>
            <a class="Cards__InternalCard-dDKrqs bzyJdo" index="1" href="/docs/guides/contributing">
              <div style="padding: 16px 24px; margin-bottom: auto;">
                <div class="Cards__TitleRow-PjOVu dfsWpD">
                  <span class="Cards__CardIcon-jkhNrR jyqqOw" color="#DE350B">
                    <span class="sc-bwzfXH jzMWye" aria-label="Make it better">
                      <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                        <g fill-rule="evenodd">
                          <rect fill="currentColor" x="4" y="4" width="16" height="16" rx="2"></rect>
                          <rect fill="inherit" x="7" y="8" width="10" height="2" rx="1"></rect>
                          <rect fill="inherit" x="7" y="11" width="10" height="2" rx="1"></rect>
                          <rect fill="inherit" x="7" y="14" width="5" height="2" rx="1"></rect>
                        </g>
                      </svg>
                    </span>
                  </span>Make it better
                </div>
                <p>Learn how to contribute code, report issues, and review our code of conduct.</p>
              </div>
            </a>
          </div>
        </div>
    </main>
